//-********************************************************************************
//---------------------------------------------------------------------------------
//- Mixins
//---------------------------------------------------------------------------------
//-********************************************************************************

//-============================================================
//- inputs
//-============================================================

mixin addGoogleFonts
	if addGoogleFonts
		// google fonts
		link( href=pathGoogleFonts + addGoogleFonts, rel="stylesheet", type="text/css" )

mixin addRespondJs
	if addRespondJs
		// respond.js
		script( href=pathRespondJs )

mixin addJquery
	if addJquery
		// jquery
		script( href=pathJquery )

mixin addBootstrapCss
	if addBootstrapCss
		// bootstrap css
		link( href=pathBootstrapCss, rel="stylesheet", type="text/css"  )

mixin addBootstrapJs
	if addBootstrapJs
		// bootstrap javascript
		script( href=pathBootstrapJs )

//-============================================================
//- Nav Menu
//-============================================================

//- This mixin iterates through and creates each menu item
mixin navmenu(menu_items)
	.navmenu
		ul
			each fst_item in menu_items
				li
					+navlinks(fst_item)
					if fst_item.child
						ul
							each srd_item in fst_item.child
								li
									+navlinks(srd_item)
									if srd_item.child
										ul
											each trd_item in srd_item.child
												li
													+navlinks(trd_item)
//- This mixin generates the links
mixin navlinks(item)
	- var linkatts = { "href": item.link, "type": item.type }
	a()&attributes(linkatts)= item.title

//- Example
//- +navmenu([
//- 	{ "title":"Home", "link":"index.htm" },
//- 	{ "title":"About My Work", "link":"about.htm",
//- 		"child": [
//- 			{ "title":"Noteable Clients", "link":"clients.htm" },
//- 			{ "title":"Behance Portfolio", "link":"http://www.behance.net", "type":"out_follow" },
//- 			{ "title":"Resume Download", "link":"resume.doc", "type": "download",
//- 				"child": [
//- 					{ "title":"Noteable Clients", "link":"clients.htm" },
//- 					{ "title":"Behance Portfolio", "link":"http://www.behance.net", "type":"out_follow" },
//- 					{ "title":"Resume Download", "link":"resume.doc", "type": "download" }
//- 				]
//- 			 },
//- 		]
//- 	},
//- 	{ "title":"Blog", "link":"blog.htm" },
//- 	{ "title": "Contact", "link":"http://www.hostedform.com", "type":"out_nofollow" }
//- ])

//-============================================================
//- Add New Section Here
//-============================================================
